#Custom Configuration

# Mesh Roaming Optimization
CONFIG_PACKAGE_usteer=y
CONFIG_PACKAGE_luci-app-usteer=y

## USB Core and Storage Support
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y

## File System Drivers
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-ntfs3=y

## Disk Management Utilities
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_chkdsk=y
CONFIG_PACKAGE_fdisk=y

## KSMBD Kernel Samba Server & LuCI GUI
CONFIG_PACKAGE_ksmbd-server=y
CONFIG_PACKAGE_luci-app-ksmbd=y

## WireGuard Support & LuCI GUI
CONFIG_PACKAGE_kmod-wireguard=y
CONFIG_PACKAGE_wireguard-tools=y
CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_PACKAGE_luci-proto-wireguard=y
